# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/warning.jpg
/rodbede-cabanossi-md.jpg
/ringbroed-druer-md.jpg
/kartofler-md.jpg
/kaalsuppe-md.jpg
/hvidvin.large.jpg
/guzni1.jpg
/guzni-md.jpg
/caviarbruschetta1.jpg
/caviarbruschetta-md.jpg
/bulgarskbondesuppe-md.jpg
/boef1.jpg
/boef-md.jpg
/baltiskbondesuppe-md.jpg
